
@charset "utf-8";
.container {
    overflow: hidden;
    width: 980px;
}
.header {
    overflow: hidden;
}
.nav {
    background: #60bff2 none repeat scroll 0 0;
    height: 38px;
    overflow: hidden;
}
.nav a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    width: 86px;
}
.notice {
    background: rgba(0, 0, 0, 0) url("../images/notice.png") repeat-x scroll 0 0;
    border: 1px solid #d9dfd3;
    height: 38px;
    line-height: 38px;
    margin: 10px 0;
    overflow: hidden;
}
.notice p {
    height: 38px;
    overflow: hidden;
    padding-left: 36px;
    position: relative;
}
.notice i {
    display: inline-block;
    height: 38px;
    left: 10px;
    position: absolute;
    width: 16px;
}
.notice marquee {
    display: inline-block;
    width: 700px;
}
.notice a {
    color: #0a503f;
    font-size: 14px;
}
.tabs {
    margin: 10px 0;
    overflow: hidden;
}
.tabs dl {
    border: 1px solid #d9dfd3;
    float: left;
    width: 740px;
}
.tabs dl dt {
    background: rgba(0, 0, 0, 0) url("../images/notice.png") repeat-x scroll 0 0;
    height: 38px;
    line-height: 38px;
}
.tabs dl dt a {
    color: #0a503f;
    font-size: 16px;
    padding: 0 10px;
}
.tabs dl dd {
    display: none;
    overflow: hidden;
    padding-bottom: 10px;
}
.department {
    overflow: hidden;
}
.department h4 {
	float:left;
	width:143px;
    background: rgba(0, 0, 0, 0) url("../images/leftbg.png") no-repeat scroll 0 center;
    line-height: 37px;
    margin-left: 20px;
    padding-left: 20px;
}
.department h4 a {
    color: #0a503f;
    font-size: 14px;
}
.department p {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #d9dfd3;
    margin: 0 20px;
    overflow: hidden;
}
.department p a {
    color: #0a503f;
    float: left;
    font-family: "宋体";
    font-size: 12px;
    margin: 6px 0;
    overflow: hidden;
    padding: 0 12px;
    width: 110px;
}
.department p a:hover, .department h4 a:hover, .tabs dl dt a:hover {
    text-decoration: underline;
}
.personal-login {
    border: 1px solid #d9dfd3;
    float: right;
    position: relative;
    width: 227px;
}
.personal-login h4 {
    background: rgba(0, 0, 0, 0) url("../images/notice.png") repeat-x scroll 0 0;
    color: #0a503f;
    font-size: 15px;
    height: 33px;
    line-height: 28px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.personal-login p {
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    margin: 8px 0;
    overflow: hidden;
    width: 220px;
}
.personal-login p label {
    color: #0a503f;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-right: 8px;
    text-align: right;
    width: 60px;
}
.personal-login p input {
    border: 1px solid #c7e3e4;
    float: left;
    height: 22px;
    line-height: 22px;
    width: 130px;
}
.personal-login p em {
    float: left;
    margin-left: 4px;
    width: 60px;
}
.personal-login p em img {
    width: 100%;
}
.personal-login p a {
    color: #2173b6;
    display: block;
    padding-left: 69px;
}
.personal-login span {
    display: block;
    padding: 20px;
    text-align: center;
}
marquee a{
    cursor: default;
}
.personal-login span a {
    background: #0a503f none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 80px;
}
.personal-login span a:hover {
    text-decoration: underline;
}
.personal-info {
    border: 1px solid #d9dfd3;
    display: none;
    float: right;
    width: 227px;
}
.personal-info h4 {
    background: rgba(0, 0, 0, 0) url("../images/notice.png") repeat-x scroll 0 0;
    color: #0a503f;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
}
.personal-info span {
    display: block;
    padding: 0 20px;
    width: 136px;
}
.personal-info span a {
    background: #0a503f none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "微软雅黑";
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 40px 20px;
    text-align: center;
    width: 100px;
}
.footer {
    margin-top: 10px;
}
.footer ul {
    margin: 15px auto 0;
    width: 1000px;
}
.footer ul li {
    font-family: "宋体";
    font-size: 12px;
    line-height: 25px;
    text-align: center;
}
.footer ul li a {
    color: #333;
    font-family: "宋体";
    font-size: 12px;
}
.footer img {
    display: inline-block;
    margin-top: 7px;
}
.deptpage-main {
    background: rgba(0, 0, 0, 0) url("../images/detail_bg.png") no-repeat scroll 0 0;
    border: 1px solid #d9dfd3;
    margin-top: 10px;
    min-height: 450px;
    width: 978px;
}
.deptpage-main h3 {
    color: #0a503f;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
.deptpage-detail {
    font-family: 宋体;
    font-size: 14px;
    line-height: 26px;
    min-height: 68px;
    padding: 10px;
    text-indent: 2em;
}
.deptpage-detail p {
    font-family: 宋体;
    font-size: 14px;
    line-height: 26px;
    text-indent: 2em;
}
.register {
    margin-top: 10px;
    overflow: hidden;
}
.register-doctor {
    border: 1px solid #d9dfd3;
    float: left;
    width: 210px;
}
.register-doctor h4 {
    background: rgba(0, 0, 0, 0) url("../images/notice.png") repeat-x scroll 0 0;
    color: #0a503f;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.register-doctor a {
    display: block;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    width: 92px;
}
.register-doctor a i {
    border: 1px solid #d7d7d7;
    display: block;
    height: 120px;
    width: 90px;
}
.register-doctor a i img {
    height: 120px;
    width: 90px;
}
.register-doctor a em {
    color: #0a503f;
    display: block;
    font-family: "microsoft yahei";
    font-size: 14px;
    padding: 10px;
    text-align: center;
}
.register-doctor p {
    overflow: hidden;
    padding: 10px;
}
.register-doctor p span {
    color: #0a503f;
    display: block;
    font-size: 14px;
    line-height: 24px;
}
.register-info {
    border: 1px solid #d9dfd3;
    float: right;
    width: 758px;
}
.register-info h4 {
    background: rgba(0, 0, 0, 0) url("../images/notice.png") repeat-x scroll 0 0;
    color: #0a503f;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.register-table {
    margin: 10px;
    overflow: hidden;
}
.register-table table {
    border-collapse: collapse;
    width: 100%;
}
.register-table table thead tr {
    background: #e5ecee none repeat scroll 0 0;
    padding: 5px 0;
}
.register-table table td {
    border: 1px solid #9bc1bb;
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    height: 34px;
    text-align: center;
}
.register-table table td p {
    line-height: 20px;
}
.register-table table td a {
    display: block;
    margin-bottom: 2px;
}
.register-table table td a:hover {
    color: red;
}
.masklayer {
    background: rgba(0, 0, 0, 0) url("../images/alertdivbg.png") repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.register-layer {
    background: #fff url("../images/alertbg.jpg") no-repeat scroll 0 top;
    border: 1px solid #c7e3e4;
    display: none;
    left: 50%;
    margin: -230px 0 0 -275px;
    padding: 0 0 20px;
    position: fixed;
    top: 50%;
    width: 550px;
    z-index: 9999;
}
.register-layer h2 {
    color: #0a503f;
    font-size: 14px;
    padding: 15px 0 0;
    width: 470px;
}
.register-layer h2 em {
    display: block;
    width: 350px;
}
.close {
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 999;
}
.layer-info {
    overflow: hidden;
    padding: 20px 10px;
    width: 470px;
}
.layer-info p.layer-title {
    border-bottom: 1px dashed #0a503f;
    font-family: "宋体";
    font-size: 12px;
    line-height: 30px;
    min-height: 35px;
}
.layer-info p b {
    color: #0a503f;
    padding-right: 36px;
}
.layer-info p em {
    display: block;
}
.layer-info p em select {
    border: 1px solid #c7e3e4;
    color: #0a503f;
    font-family: "宋体";
    font-size: 14px;
    width: 120px;
}
.layer-info p em a:hover {
    color: #f00;
}
.layer-info ul {
    border-bottom: 1px dashed #0a503f;
    overflow: hidden;
    padding: 20px 0;
}
.layer-info ul li {
    color: #0a503f;
    float: left;
    font-family: "宋体";
    font-size: 14px;
    margin: 10px 22px;
}
.layer-info ul li label {
    float: left;
}
.layer-info ul li label input {
    border: medium none;
    float: left;
    margin-top: 1px;
}
.layer-info span {
    display: block;
    padding: 20px;
    text-align: center;
}
.layer-info span a {
    background: #0a503f none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 20px;
    text-align: center;
    width: 80px;
}
.attention {
    max-height: 110px;
    overflow: hidden;
    padding: 10px 0;
}
.attention p {
    color: red;
    font-family: "宋体";
    font-size: 12px;
    text-indent: 2em;
}
.personal {
    margin-top: 10px;
    overflow: hidden;
}
.personal-nav {
    border: 1px solid #d9dfd3;
    float: left;
    width: 227px;
}
.personal-nav h4 {
    background: rgba(0, 0, 0, 0) url("../images/notice.jpg") repeat-x scroll 0 0;
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.personal-nav ul {
    margin: 0 auto;
    padding-bottom: 38px;
    width: 80%;
}
.personal-nav ul li {
    background: rgba(0, 0, 0, 0) url("../images/leftbg.png") no-repeat scroll 45px 14px;
    border-bottom: 1px dotted #ccc;
    line-height: 35px;
    padding-left: 70px;
}
.personal-nav ul li a {
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
}
.personal-detail {
    border: 1px solid #d9dfd3;
    float: right;
    width: 740px;
}
.comment {
	font-size: 12px;
	color:#999;
}
.personal-detail h4 {
    background: rgba(0, 0, 0, 0) url("../images/notice.jpg") repeat-x scroll 0 0;
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
}
.personal-detail h4 a {
    background: rgba(0, 0, 0, 0) url("../images/add.png") no-repeat scroll 0 center;
    color: #0a503f;
    float: right;
    font-family: "宋体";
    font-size: 12px;
    height: 25px;
    line-height: 26px;
    padding-left: 18px;
    width: 80px;
}
.personal-detail input[type="submit"]{
	height:20px;
	line-height:20px;
	font-size:12px;
	background-color:#0a503f;
	color:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:0 5px;
	border:none;
	
}
.personal-table {
    margin: 10px;
    overflow: hidden;
}
.personal-table table {
    border-collapse: collapse;
    width: 100%;
}
.personal-table table thead tr {
    background: #e5ecee none repeat scroll 0 0;
    padding: 5px 0;
}
.personal-table table tfoot {
    display: none;
}
.personal-table table td {
    border: 1px solid #9bc1bb;
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    height: 28px;
    text-align: center;
}
.personal-table table td a {
    background: #e5ecee none repeat scroll 0 0;
    color: #0a503f;
    display: inline-block;
    font-family: "宋体";
    font-size: 12px;
    padding: 2px;
    width: 40px;
}
.personal-table table td a:hover {
    text-decoration: underline;
}
.patient-layermain {
    background: #fff url("../images/alertbg.jpg") no-repeat scroll 0 top;
    border: 1px solid #c7e3e4;
    display: none;
    left: 50%;
    margin: -230px 0 0 -275px;
    padding: 0 0 20px;
    position: fixed;
    top: 50%;
    width: 550px;
    z-index: 9999;
}
.patient-layermain h2 {
    color: #0a503f;
    font-size: 14px;
    padding: 15px 0 0;
    width: 470px;
}
.patient-layermain h2 em {
    display: block;
    width: 350px;
}
.close {
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 999;
}
.patient-layer {
    overflow: hidden;
    padding: 10px;
}
.patient-layer span {
    display: block;
    padding-top: 20px;
    text-align: center;
}
.patient-layer span a {
    background: #0a503f none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 20px;
    text-align: center;
    width: 80px;
}
.patient-layer ul {
    overflow: hidden;
}
.patient-layer ul li {
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    margin: 10px auto;
    width: 380px;
}
.mandatory {
    color: #f00;
    font-family: "宋体";
    font-size: 12px;
    left: 386px;
    line-height: 24px;
    position: absolute;
}
.patient-layer ul li em {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: right;
    width: 100px;
}
.patient-layer ul li label {
    display: inline-block;
    padding: 0 10px;
}
.patient-layer ul li input[type="text"] {
    border: 1px solid #c7e3e4;
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    width: 180px;
}
.patient-layer ul li input[type="radio"] {
    border: medium none;
}
.patient-layer ul li textarea {
    border: 1px solid #c7e3e4;
    color: #0a503f;
    float: left;
    font-family: "宋体";
    font-size: 12px;
    height: 34px;
    margin-left: 6px;
    padding: 4px;
    resize: none;
    width: 180px;
}
.login {
    border: 1px solid #d9dfd3;
    height: 264px;
    left: 50%;
    margin: 200px 0 0 -240px;
    position: relative;
    width: 480px;
}
.login p {
    height: 26px;
    margin: 14px auto;
    padding-left: 20px;
    width: 220px;
}
.mandatory-login {
    color: #f00;
    font-family: "宋体";
    font-size: 12px;
    left: 200px;
    line-height: 24px;
    position: absolute;
    top: 26px;
}
.login-main {
    margin-top: 58px;
}
.login p input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: 24px;
    line-height: 24px;
    width: 216px;
}
.login p em {
    float: right;
}
.login p em img {
    height: 26px;
    width: 64px;
}
.login span {
    display: block;
    height: 26px;
    line-height: 26px;
    margin: 18px auto;
    position: relative;
    width: 220px;
}
.login span a {
    display: inline-block;
    text-align: center;
    width: 78px;
}
.login span a.forgetpsd {
    bottom: -7px;
    color: #f00;
    float: right;
    font-size: 12px;
    position: absolute;
    right: -24px;
}
.signup {
    overflow: hidden;
    width: 980px;
}
.signup-header {
    overflow: hidden;
    padding: 20px 10px;
}
.signup-header span {
    float: right;
    height: 60px;
    line-height: 60px;
}
.signup-header span a {
    color: #0a503f;
    font-size: 16px;
}
.signup-header span a:hover {
    text-decoration: underline;
}
.signup-main {
    background: rgba(0, 0, 0, 0) url("../images/detail_bg.png") no-repeat scroll 0 0;
    border: 1px solid #d9dfd3;
    min-height: 450px;
    width: 978px;
}
.signup-main h3 {
    color: #0a503f;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
.signup-main ul {
    overflow: hidden;
    padding: 150px 20px;
    text-align: center;
    width: 800px;
}
.signup-main ul li {
    height: 34px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    width: 410px;
}
.mandatory-signup {
    color: #f00;
    font-family: "宋体";
    font-size: 12px;
    left: 332px;
    line-height: 32px;
    position: absolute;
}
.signup-main ul li label {
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: right;
    width: 100px;
}
.signup-main ul li input[type="text"], .signup-main ul li input[type="password"] {
    float: left;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
    width: 212px;
}
.signup-main ul li a#obtain_code {
    border: 1px solid #ccc;
    float: left;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    text-align: center;
    width: 120px;
}
.signup-main ul li p {
    background: #ddd none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #666;
    cursor: default;
    display: none;
    float: left;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    text-align: center;
    width: 120px;
}
.signup-main ul li input.code[type="text"] {
    width: 80px;
}
.signup-main ul li input[type="button"] {
    background: #c6e2e3 none repeat scroll 0 0;
    cursor: pointer;
    font-family: "微软雅黑";
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 100%;
}
.changepsd {
    margin: 10px;
    overflow: hidden;
}
.changepsd fieldset {
    border: 1px solid #0a503f;
    margin: 10px auto;
    overflow: hidden;
    padding: 10px;
    width: 420px;
}
.changepsd fieldset legend {
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
}
.changepsd fieldset span {
    display: block;
    margin: 10px auto;
    position: relative;
    width: 300px;
}
.mandatory-psd {
    color: #f00;
    font-family: "宋体";
    font-size: 12px;
    left: 216px;
    line-height: 24px;
    position: absolute;
}
.changepsd fieldset span label {
    color: #0a503f;
    display: inline-block;
    font-family: "宋体";
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-align: right;
    width: 80px;
}
.changepsd fieldset span input {
    border: 1px solid #c7e3e4;
    font-family: "宋体";
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.changepsd p {
    margin-top: 20px;
    text-align: center;
    width: 300px;
}
.changepsd a {
    background: #c6e2e3 none repeat scroll 0 0;
    border: medium none;
    color: #0a503f;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 5px;
    width: 60px;
}
.mandatory-index {
    color: #f00;
    display: block;
    font-family: "宋体";
    font-size: 12px;
    left: 70px;
    line-height: 24px;
    position: absolute;
    top: 36px;
}
.checkresult-login {
    overflow: hidden;
    padding: 20px;
    width: 740px;
}
.checkresult-login span {
    float: left;
}
.checkresult-login p {
    float: right;
    padding-top: 100px;
}
.checkresult-login p input {
    border: 1px solid #9bc1bb;
    color: #666;
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 20px;
    padding: 0 10px;
    width: 240px;
}
.checkresult-login p a {
    background: #0a503f none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-family: "宋体";
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: 20px;
    text-align: center;
    width: 262px;
}
.checkresult {
    overflow: hidden;
    padding: 20px;
}
/* .checkresult a {
    border-bottom: 1px dashed #5596cc;
    color: #0a503f;
    display: block;
    font-family: "宋体";
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.checkresult a em {
    overflow: hidden;
}
.checkresult a em b {
    display: inline-block;
    padding-right: 10px;
}
.checkresult a i {
    cursor: pointer;
    float: right;
}
.checkresult a:hover i {
    text-decoration: underline;
} */
.checkresult a {
    border-bottom: 1px dashed #5596cc;
    color: #0a503f;
    display: block;
    font-family: "宋体";
    font-size: 12px;
    line-height: 20px;
    padding:10px;
	overflow:hidden;
}
.checkresult a em {
    overflow: hidden;
	width:650px;
	float:left;
}
.checkresult a em b {
    line-height: 20px;
    padding-right: 10px;
	float:left;
}
.checkresult a em b.title{
	width:25px;
}
.checkresult a em b.content{
	width:600px;
	white-space:nowrap;
	height:20px;
	text-overflow:ellipsis;
	line-height: 20px;
	overflow:hidden;
}
.checkresult a i {
    cursor: pointer;
    float: right;
}
.checkresult a:hover i {
    text-decoration: underline;
}
.checkresult-ul{
	overflow: hidden;
    padding: 20px;
}
.checkresult-ul div{
	border-bottom:1px solid #E3E3E5;
	padding:5px 0;
	height:30px;
	line-height:30px;
}
.checkresult-ul b{
	color:#999;
	font-size:14px;
}
.checkresult-ul b.title{
	color:#0a503f;
	font-size:15px;
}
.checkresult-ul p{
	float:right;
}
.checkresult-ul center{
	color:#666;
	font-size:14px;
}
.checkresult-info {
    overflow: hidden;
    padding: 10px;
}
.checkresult-person {
    overflow: hidden;
    padding-bottom: 10px;
}
.checkresult-person p {
    color: #0a503f;
    float: left;
    font-family: "宋体";
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
}
.checkresult-info table {
    border-collapse: collapse;
    width: 100%;
}
.checkresult-info table thead tr {
    background: #e5ecee none repeat scroll 0 0;
    padding: 5px 0;
}
.checkresult-info table td {
    border: 1px solid #9bc1bb;
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    height: 34px;
    text-align: center;
}
.checkresult-footer {
    overflow: hidden;
    padding: 10px;
}
.checkresult-footer p {
    color: #0a503f;
    font-family: "宋体";
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.checkresult-footer span {
    color: #f00;
    font-family: "宋体";
    font-size: 12px;
}

.page {
	overflow:hidden;
	margin: 20px auto 10px auto;
    width: 500px;
	text-align:center;
}

/*-------------------------分页----------------------------*/
.page span{
	display: none;
}

.page a {
	display:inline-block;
	background:#dfe7da;
    border: 1px solid #dfe7da;
    color: #0a503f;
	font-family: "宋体";
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.page a:hover {
	background:#0a503f;
	border: 1px solid #0a503f;
    color: #fff;
}

